<div class="d-grid gap-2">
    <button type="button" class="btn btn-warning btn-lg btn-sm" (click)="persistOrder()">Persist channel
        order</button>
    <button type="button" class="btn btn-primary btn-lg btn-sm" (click)="downloadChannelsTxt()">Download
        channels.txt</button>
    <button type="button" class="btn btn-success btn-lg btn-sm" (click)="downloadPubKeysTxt()">Download
        pubkeys.txt</button>
    <button type="button" class="btn btn-secondary btn-lg btn-sm" (click)="downloadIgniterPubkeys()">Download
        igniter.sh pubkeys</button>
</div>