<div class="d-grid gap-2">
    <button type="button" class="btn btn-warning btn-lg btn-sm" (click)="persistOrder()" translate>Visual.BTN_DOWNLOAD_IGNITER_PUBKEYS </button>
    <button type="button" class="btn btn-primary btn-lg btn-sm" (click)="downloadChannelsTxt()" translate>Visual.BTN_DOWNLOAD_CHANNELS_TXT</button>
    <button type="button" class="btn btn-success btn-lg btn-sm" (click)="downloadPubKeysTxt()" translate>Visual.BTN_DOWNLOAD_PUBKEYS_TXT</button>
    <button type="button" class="btn btn-secondary btn-lg btn-sm" (click)="downloadIgniterPubkeys()" translate>Visual.BTN_DOWNLOAD_IGNITER_PUBKEYS</button>
</div>