<h3>Ring order </h3>
<ul class="list-group" dragula="PARTICIPANTS" id="participants" [(dragulaModel)]="nodeOwners" (dragulaModelChange)="onModelChange($event)">
    <li class="list-group-item d-flex justify-content-between" *ngFor="let s of nodeOwners">
        <ng-template [ngIf]="(settings$ | async)?.viewMode === 'tg'" [ngIfElse]="elseBlock">
            {{ getCbUsername(s) }}
        </ng-template>
        <ng-template #elseBlock>
            {{ s.nodename }}
        </ng-template>
        <small>{{ s.nodename }}</small>
    </li>
</ul>
<span *ngIf="isDirty">
<span class="badge bg-warning"><i class="bi bi-exclamation-triangle"></i> Unsaved changes, click "Persist channel order" to save.</span>
</span>