<div class="container-fluid" *ngIf="connected">
    <div class="row">
        <div class="col-md-4 chart-container d-inline-block" id="circle" *ngIf="ring !== undefined">
            <app-participant-ring class="w-100 h-100 d-flex" [ringName]="settings.ringName"
                [showLogo]="settings.showLogo" id="rofvisual" [ring]="ring"></app-participant-ring>
        </div>

        <div class="col-md-8 participants">
            <h2 translate>Overview.HEADER
              <div class="btn-group btn-small small btn-group-toggle" [formGroup]="viewModeForm">

                <input type="radio" formControlName="viewMode" value="node" class="btn-check" id="nodenameBtn">
                <label class="btn btn-primary btn-sm" for="nodenameBtn" translate>General.NODENAME</label>
      
                <input type="radio" formControlName="viewMode" value="tg" class="btn-check" id="tgnameBtn">
                <label class="btn btn-primary btn-sm" for="tgnameBtn" translate>General.TG_USERNAME
                </label>
              </div>
            </h2>

            <app-participant-table [participants]="ring"></app-participant-table>
            <button (click)="downloadAsPng()" class="btn btn-primary" translate>Overview.DOWNLOAD_VISUAL</button>
            <br>
            <small translate>Overview.RED_CHANNELS</small><br>
            <small translate *ngIf="settings.advancedView">Overview.MIN_MAX_HTLC_IN_SATS</small>
            
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="!connected">
  <div class="row">
    <p>Not connected to node. Please wait.</p>
  </div>
</div>