<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 chart-container d-inline-block" id="circle" *ngIf="ring !== undefined">
            <app-participant-ring class="w-100 h-100 d-flex" [ringName]="settings.ringName"
                [showLogo]="settings.showLogo" id="rofvisual" [ring]="ring"></app-participant-ring>
        </div>

        <div class="col-md-8 participants">
            <h2>Ring participants
              <div class="btn-group btn-small small btn-group-toggle" [formGroup]="viewModeForm">

                <input type="radio" formControlName="viewMode" value="node" class="btn-check" id="nodenameBtn">
                <label class="btn btn-primary btn-sm" for="nodenameBtn">Nodename</label>
      
                <input type="radio" formControlName="viewMode" value="tg" class="btn-check" id="tgnameBtn">
                <label class="btn btn-primary btn-sm" for="tgnameBtn">TG username
                </label>
              </div>
            </h2>

            <app-participant-table [participants]="ring"></app-participant-table>
            <button (click)="downloadAsPng()" class="btn btn-primary">Download Visual</button>
            &nbsp;
            <small>Red channels: Fee policy missing</small>
        </div>
    </div>
</div>