<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      
      <a class="navbar-brand" href="#">
        <img src="/assets/logo-32x32.png" alt="Ringtools-Web">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"
              (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
        <ul class="navbar-nav">
          <li routerLinkActive="active" *ngFor="let menuItem of links" class="nav-item" [routerLinkActiveOptions]="{ exact: true }">
            <a [routerLink]="[menuItem.route]" class="nav-link">
              {{menuItem.title}}
            </a>
          </li>
        </ul>
        <div ngbDropdown class="d-flex">
          <span  class="navbar-text testnet" *ngIf="testnet">Testnet 	🧪 &nbsp;</span>
          <button class="btn btn-outline-primary" id="navbarRingname" ngbDropdownToggle>{{ getRingName() }}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let item of ringSettings$ | async" (click)="loadSettings(item)">{{
              item.cleanRingName }}</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  