<table class="table table-sm table-striped small">
    <thead>
        <tr>
            <th scope="col">Channel ID</th>
            <th scope="col">Node 1</th>
            <th scope="col">Node 2</th>
            <th scope="col">N1 Base fee</th>
            <th scope="col">N1 Fee rate</th>
            <th scope="col">N2 Base fee</th>
            <th scope="col">N2 Fee rate</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of participants; let i = index">
            <tr [class.error]="item[2] && (!item[3][0]|| !item[3][1] || item[3][0].disabled === true || item[3][1].disabled === true)">
                <ng-template #popTitle let-title="title">Node policy <strong>{{title}}</strong></ng-template>
                <ng-template #popContent let-value="value">
                    <pre><code [innerHTML]="value"></code></pre>
                </ng-template>

                <th scope="row" [style.background-color]="getColor(i)" class="channelCol">{{ getChannelId(item[2]) }}</th>
                <ng-template [ngIf]="settings.viewMode === 'tg'" [ngIfElse]="elseBlock">
                    <td *ngIf="item[0]">{{ item[0].username_or_name }}</td>
                    <td *ngIf="item[1]">{{ item[1].username_or_name }}</td>
                </ng-template>
                <ng-template #elseBlock>
                    <td *ngIf="item[0]" class="node_key"><span>{{ item[0].nodename }}</span></td>
                    <td *ngIf="item[1]" class="node_key"><span>{{ item[1].nodename }}</span></td>
                </ng-template>
                <td [class.error]="item[3] && item[3][0] && item[3][0].disabled === true">
                    <div *ngIf="item[3] && item[3][0]" [ngbPopover]="popContent" [popoverTitle]="popTitle"
                        #p1="ngbPopover" triggers="manual" (click)="routingPolicyPopover(p1, item[3][0], item[0])">
                        <span>{{ item[3][0].fee_base_msat }}</span></div>
                </td>
                <td [class.error]="item[3] && item[3][0] && item[3][0].disabled === true">
                    <div *ngIf="item[3] && item[3][0]" [ngbPopover]="popContent" [popoverTitle]="popTitle"
                        #p1="ngbPopover" triggers="manual" (click)="routingPolicyPopover(p1, item[3][0], item[0])">
                        <span>{{ item[3][0].fee_rate_milli_msat }}</span></div>
                </td>
                <td [class.error]="item[3] && item[3][1] && item[3][1].disabled === true">
                    <div *ngIf="item[3] && item[3][1]" [ngbPopover]="popContent" [popoverTitle]="popTitle"
                        #p1="ngbPopover" triggers="manual" (click)="routingPolicyPopover(p1, item[3][1], item[1])">
                        <span>{{ item[3][1].fee_base_msat }}</span></div>
                </td>
                <td [class.error]="item[3] && item[3][1] && item[3][1].disabled === true">
                    <div *ngIf="item[3] && item[3][1]" [ngbPopover]="popContent" [popoverTitle]="popTitle"
                        #p1="ngbPopover" triggers="manual" (click)="routingPolicyPopover(p1, item[3][1], item[1])">
                        <span>{{ item[3][1].fee_rate_milli_msat }}</span></div>
            </tr>
        </ng-container>
    </tbody>
</table>