<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h3>Node connections
                <div class="btn-group btn-small small btn-group-toggle" ngbRadioGroup name="names"
                    [(ngModel)]="settings.viewMode" (ngModelChange)="viewChange($event)">
                    <label ngbButtonLabel class="btn-primary btn-sm">
                        <input ngbButton type="radio" value="node"  class="btn-check"> Nodename
                    </label>
                    <label ngbButtonLabel class="btn-primary btn-sm">
                        <input ngbButton type="radio" value="tg"  class="btn-check"> TG username
                    </label>
                </div>
            </h3>
            <app-node-connections></app-node-connections>
        </div>
        <div class="col-md-4">
            <app-edit-ring-order></app-edit-ring-order>

            <div class="row mt-3">
                <div class="col-md-6">
                    <app-reorder-participants></app-reorder-participants>
                </div>
                <div class="col-md-6">
                    <app-file-exporter></app-file-exporter>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>